body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.summary{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 24px;
  line-height: 44px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  align-self: stretch
}

.name{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 45px;
  line-height: 44px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  margin-top: 10px;
  text-align: left;
  margin-left: 100px;
  align-self: stretch;
}
a {
  color: #88B04B;
  text-decoration: none;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

a:hover {
    color: #9ABC66;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out; 
}

.social {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: 1px;
    font-weight: 400;
    margin-right: 20px; 
}

.links
{
  text-align: left;
  margin-left: 100px;
  align-self: stretch;
}
